@import 'vars';
@import 'mixins';

.carousel-indicators .active {
    background-color: brown;
}

.carousel-inner {
    background-color: #F7F7F7;

    .product_img {
        max-width: 597px;
        max-height: 724px;
        flex-shrink: 0;
    }
}

.carousel-control-next-icon {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z' fill='black'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cpath d='M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z' fill='black'/%3E%3C/svg%3E");
}