// 1. Переходим на сайт https://fonts.google.com/
// 2. Выбираем любые 2 бесплатных шрифт или
// https://fonts.google.com/specimen/Open+Sans и
// https://fonts.google.com/specimen/Merriweather
// 3. Скачиваем данный шрифт себе
// 4. Создаем файл index.html и добавляем заголовок h1 и
// параграф, с произвольным текстом
// 5. С помощью генератора шрифтов подключаем один
// шрифт для заголовка h1 второй для параграфа p

* {
    margin: 0;
    padding: 0;
}

// body {
//     background-color: blue;
// }

.header {
    font-family: 'merriweatherblack';

    &__text {
        font-family: 'open_sansitalic';
    }

    // 1. Создайте заголовок h2 с произвольным текстом
    // 2. Необходимо реализовать эффект рамки у текста как на скриншоте .

    &__text2 {
        font-family: 'open_sansitalic';
        -webkit-text-stroke: 1px aqua; /* Параметры контура */
        color: transparent; /* Прозрачный цвет */
    }
}
    // С помощью свойства border создать треугольник произвольных размеров

.box {
    width: 0;
	height: 0;
	border-width: 0 100px 100px 100px;
	border-color: transparent transparent #FF0000 transparent;
	border-style: solid;
}


// 1. Найти произвольное изображение рамки в интернете
// 2. Для заголовка h1 задать рамку изображение
// 3. Для параграфа p задать градиентную рамку.

.border {
    width: 260px; 
    height: 200px; 
    border-style: solid;
    border-image-width: 15px;
    border-image-source: url(https://w.forfun.com/fetch/4d/4d671cfe78cbb63a617875e1f6023157.jpeg);
    border-image-slice: 30;
    border-image-repeat: stretch;
}

* {box-sizing:border-box;}
.wrap {
    height: 200px;
    padding: 25px;
    background-color: #FF0000;
}

.gradient {
    height: 150px; 
    width: 50%; 
    margin: 0 auto;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, #ADF2F7 100%);
    border-image-slice: 1;
}

.top-header {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        @include font_style(24px, 400);
        color: $colorTextPink;
    }

    .bredcrumbs__link {
        @include font_style(14px, 300);
        color: #636363;

        &:not(:last-child)::after {
            content: '/';
            padding-left: 6px;
            padding-right: 6px
        }

        &:last-child {
            @include font_style(14px, 700);
            color: $colorTextPink;
        }
    }
}